/*Please include index.css in HTML code for using this.*/
* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.parentDiv {
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;

  height: 80%;
  width: 90%;
}

.section {
  border-right: 1px solid black;
  padding-left: 1em;
  width: 100%;
}

.hidden {
  display: none;
}

.removetask {
  float: right;
  cursor: pointer;
  padding-right: 1em;
}
.removetask:hover {
  color: red;
}
li {
  cursor: pointer;
}
